button {
  background-color: #e7fbe0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

button:active {
  background-color: #fff6c4;
  box-shadow: #42280018 4px 4px 0 0;
}

button:hover {
  box-shadow: #42280018 0px 0px 0 0;
}

.eatButton {
  background-color: #ffd2c4
}
